
*{
	padding: 0;
	border: 0;
	box-sizing: inherit;
}
*,
*::before,
*::after{
    box-sizing: inherit;
}
html{
	box-sizing: inherit;
    font-size: 65%;
    text-rendering: optimizeLegibility;  
	padding: 0;
	border: 0;
}
body{
    font-weight: 400;
    color: rgb(58, 58, 58);
    font-family: 'Open sans' ,sans-serif;
    line-height: 1.6;
}
.contain{
    display: grid;
    grid-template-columns: [full-start]  minmax(6rem,1fr)
    [center-start] repeat(8,[col-start] minmax(min-content, 12rem)[col-end]) [center-end] 
    minmax(6rem,1fr) [full-end];
    grid-template-rows: 7rem max-content max-content;
}
